body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url(../img/graffiti_image_header.svg);
  background-size: cover;
}

nav {
  font-family: "bebas-neue-pro", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

p {
  font-family: "bebas-neue-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}