body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url(../img/graffiti_image_header.svg);
  background-size: cover;
}

.normal-text {
  font-size: 19px;
}

p {
  font-family: "bebas-neue-pro", sans-serif;
font-weight: 400;
font-style: normal;
}

h2 {
  font-family: "azo-sans-uber", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 12px;
}

.small-text {
  font-size: 14px;
}